.button
    padding 0.7rem 2.5rem
    border-radius 23px
    background #17daa3
    border none
    color white
    cursor pointer

    &_transparent
        border 0.17rem solid white
        background none