.service
    margin-top 5rem
    position relative
    width 30rem
    padding-left 7rem

    &__icon
        position absolute
        left 0
        top -0.5rem

    &__name
        margin-bottom 1rem
        font-size 3rem
        font-weight normal
        color #576671

        &:first-letter
            text-transform uppercase

    &__description
        line-height 2.5rem
        color #87949e