.header
    display flex
    flex-direction column
    width 100%
    height 50rem   
    padding-top 2.5rem
    align-items center
    background-image url(./images/background.png) 
    background-size 100% 100%

    &__nav
        display flex
        width 75%  
        justify-content space-between

    &__logo
        font-size 2rem
        color white

    &__news
        margin auto