.news

    &__article
        display flex 
        flex-direction column 
        align-items center
        width 100%   
        color white 

    &__article-title  
        margin-bottom 1rem
        font-size 3rem
        color white
        font-weight normal

    &__article-title-first-word
        font-weight bold

    &__article-info
        font-size 1.2rem

    &__article-button
        margin 4rem